{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" >
    <title>Book Library</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 ">
        <a class="navbar-brand"  href="{% url 'books:index' %}">Library</a>
         <p>
            <button class="navbar-toggler btn btn-primary" type="button" data-toggle="collapse" data-target="#contentId" aria-expanded="false"
                    aria-controls="contentId" aria-label="toggler-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </p>
        <div class="collapse navbar-collapse" id="contentId">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Books
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="{% url 'books:book' %}">All Books</a>
                          <a class="dropdown-item" href="{% url 'books:filter_mode' 'scientific' %}">Scientific</a>
                          <a class="dropdown-item" href="{% url 'books:filter_mode' 'religious' %}">Religious</a>
                          <a class="dropdown-item" href="{% url 'books:filter_mode' 'psychology' %}">Psychology</a>
                          <a class="dropdown-item" href="{% url 'books:filter_mode' 'roman' %}">Roman</a>
                        </div>
                      </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:profile' user.id %}">Hello , {{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
                    </li> 
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">login</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">Register</a> 
                </li>
                {% endif %}
            </ul> 
        </div>
    </nav>
    <main role="main" class="container">
        <div class="pb-2 mb-2 border-bottom">
            {% block page-header %}
            
            {% endblock page-header %}
        </div>
        <div>
            {% block content %}
            
            {% endblock content %}
        </div>
    </main>
</body>
</html>