{% extends 'base.html' %}

{% block page-header %}


<h1>Details Book</h1>

<h2>book name : {{book}}</h2>

{% if img_obj %}
  
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:200px">
{% endif %}

<ul>
    <li>
        <p>
            Author : {{book.author}}
        </p>
    </li>
    <li>
        <p>
            Status : {{book.status}}
        </p>
    </li>
    <li>
        <p>
            Price : {{book.price}}
        </p>
    </li>
    <li>
        <p>
           Title : {{book.title}} 
        </p>
    </li>

</ul>

{% if send %}
    <h6>your request sended for admin!</h6>
{% else %}
<h6>send your for give this book</h6>
<form action="{% url 'books:book_detail' book.id %}" method="post">
    {{form2.as_p}}
    {% csrf_token %}
    <button name="submit">send request</button>
</form>
{% endif %}

{% endblock page-header %}


{% block content %}



<h3>comments:</h3>

<ul>
    {% for comment in comments %}
    <li>
        <h5>commented by : {{comment.author}}</h5>
        
            <p>comment : {{comment}}</p>
            <p>at : {{ comment.date_added|date:'M d, Y H:i' }}</p>
        
    </li>
    {%empty%}
        <li>
            creat first comment .
        </li>
    {% endfor %}

    


</ul>

<form action="{% url 'books:book_detail' book.id %}" method="post">

    {{form.as_p}}
    {% csrf_token %}
    <button name="submit">add comment</button>
</form>

<ol>
{% for p in person %}
    <li>
    <h6>give this book by : {{p}}</h6>
    </li>
{% endfor %}
</ol>


{% endblock content %}