{% extends 'base.html' %}

{% block page-header %}

<h2>book name : {{book}}</h2>

{% if img_obj %}
  
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:200px">
{% endif %}



{% endblock page-header %}


{% block content %}



<h3>comments:</h3>

<ul>
    {% for comment in comments %}
    <li>
        <h5>commented by : {{comment.author}}</h5>
        
            <p>comment : {{comment}}</p>
            <p>at : {{ comment.date_added|date:'M d, Y H:i' }}</p>
        
    </li>
    {%empty%}
        <li>
            creat first comment .
        </li>
    {% endfor %}

    

</ul>

<form action="{% url 'books:book_detail' book.id %}" method="post">

    {{form.as_p}}
    {% csrf_token %}
    <button name="submit">add comment</button>
</form>





{% endblock content %}